@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0px;
}

#head-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%; 
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    overflow: hidden;
}

.head-layer{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.head-layer img{
    width: 53%;
    margin-left: auto;
    margin-top: 80px;
}

h1{
    font-family: 'Noto Serif', serif;
    font-weight: 300;
    font-size: 24px;
}

.head-layer h2{
    font-family: 'Noto Serif', serif;
    font-size: 32px;
    font-weight: 200;
}
.head-layer span{
    font-size: 43px;
    font-weight: 200;
}

.logo-underline{
    height: 7px;
    width: 96%;
    background-color: #6cdf7f ;
    border-radius: 20px;
    margin-top: auto;
    z-index: -1;
}

h3{
    font-family: 'Noto Serif', serif;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
}

.portfolio-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.portfolio-container a{
    color: white;
    text-decoration: none;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000;
}

#portfolioL{
    background-image: url("./assets/lucas.jpg");
    width: 50%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    filter: contrast(50%);
    transition: all 0.25s;
}

#portfolioL:hover{
    filter: contrast(1);
}

#portfolioM{
    background-image: url("./assets/mahaut.jpg");
    width: 50%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    filter: contrast(50%);
    transition: all 0.25s;
}

#portfolioM:hover{
    filter: contrast(1);
}

.separator{
    width: 96%;
    height: 7px;
    background-color: rgba(185, 185, 185, 0.479);
    border-radius: 15px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 15px;
}

@media (min-width: 800px){

    .head-layer img{
        width: 30%;
    }

    h1{
        font-size: 24px;
    }

    .head-layer{
        text-align: center;
    }

    .head-layer h2{
        font-family: 'Noto Serif', serif;
        font-size: 350%;
        font-weight: 200;
        margin-right: 30%;
    }

    .head-layer span{
        font-size: 200%;
        font-weight: 200;
    }

    #portfolioL{
        padding-top: 100px;
        padding-bottom: 100px;
        font-size: 250%;
    }
    
    #portfolioM{
        padding-top: 100px;
        padding-bottom: 100px;
        font-size: 250%;
    }

    h3{
        font-family: 'Noto Serif', serif;
        font-size: 50px;
        font-weight: 200;
        text-align: center;
        margin-top: 20px;
        margin-top: 20px;
    }

}